
<h4> Available Rentals </h4>


  {{#each model.rentals as |rental|}}
    {{rental-tile rental=rental}}
  {{/each}}


{{new-rental saveRental2="saveRental3"}}<hr>

<h4> All Reviews </h4>


  {{#each model.reviews as |review|}}
    <li>{{review.rating}} - {{review.content}} - by {{review.author}}</li>
  {{/each}}
